:host {
  display: block;
  color: red;
  
}
html {
  scroll-behavior: smooth;
}
leiste{
  height: 25px;
  Width: 100%;
  background-color:#941c2f;
 

}
my-menu{
  float: left;
  position:fixed;
  
}
.button {
  background-color: #247Ba0;
  border: 1px solid #fffcfe;
  color:#fffcfe;
  font-family: 'Catamaran', sans-serif;
  font-size:12px;
  letter-spacing:2px;
  text-transform:uppercase;
  text-align:center;
  width: 30%;
  box-sizing: border-box;
  float: left;
  position:relative;
  height: 25px;
  
}

  
button:hover{
  
  background:#fffcfe;
  color: #247Ba0;
  border: solid #247Ba0;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;

 
  text-align: center;
}

