:host {
  display: block;
  
  
}
html {
  scroll-behavior: smooth;
}

leiste{
  height: 25px;
  Width: 100%;
  background-color:#941c2f;
  
}
.my-menu{
  float: left;
  position:absolute;
  width: 100%;
  margin: auto;
  z-index: 7;
  font-family: 'Catamaran', sans-serif;
}
.button {
  background-color: #941c2f;
  border: #941c2f;
  color:#fffcfe;
  font-family: 'Catamaran', 'open-sans';
  font-weight: 500;
  font-size:36px;
  letter-spacing:2px;
  text-transform:uppercase;
  text-align:center;
  width: 33%;
  position:fixed;
  z-index:999;
  float: left;
 
  height: 55px;
  margin: auto;
  align-items: center;
}

  
button:hover{
  
  background:#fffcfe;
  color:#941c2f;
  
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;

 
  text-align: center;
}

