:host {
  display: block;
}

#heartButton{
  cursor:pointer;
  width: 45px;
  height: 45px;
  background-color:#100B00;
  border-radius: 4px;
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 50px;
  box-shadow: none;
  border:none;
}
