:host {
  display: block;
}

button{
  font-family: 'Catamaran', sans-serif;
  font-size: 150%;
  cursor: pointer;
  margin: 1% 1% 1% 1%;

  color: #FFFCF9;
  background-color: #247BA0;
  border-radius: 2px;
  box-shadow: 5px 10px 18px #888888 ;
}

