:host {
  display: block;
}

button{
  font-family: 'Catamaran', sans-serif;
  font-size: 150%;
  cursor: pointer;
  margin: 1% 1% 1% 1%;
  text-align: center;

  color: #FFFCF9;
  background-color: #BFBFBF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(172, 172, 172);
  border-color: #BFBFBF
}
