:root {
    --app-example-var: black;
    --custom-black: #100B00;
    --custom-white:#FFFCF9;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--custom-black);
    margin:0;
}
.white {
background: var(--custom-white);
}
.padding {
    padding:0px 20px 0 20px;
}
p {
    color:var(--custom-black);
    font-size: 12pt;
}
h1,h2,h3,h4 {
    font-family: 'Catamaran', sans-serif;
}
h1 {
    font-weight: 300;
    color: var(--custom-black);
    font-size: 48pt;
}
h2 {
    font-weight: 800;
    color: #1a1a1a;
    font-size: 36pt;
}
h3 {
    font-weight: 700;
    color: #333333;
    font-size: 30pt;
}
h4 {
    font-weight: 600;
    color: #404040;
    font-size: 20pt;
}


.inverted {
    color: #FFFCF9;
}
.cta {
    font-family: 'Catamaran', sans-serif;
    transition: background 0.2s ease-in;
    background:#247ba0;
    font-size: 20pt;
    font-weight:600;
    color:#FFFCF9;
    cursor: pointer
}
.cta:hover {
    background:#1d6483;
}
.cta:focus {
    background:#1F487E;
}
.primary {
    background:#941C2F;
    color:#FFFCF9;
}
.secondary {
    background:#1F487E;
    color:#FFFCF9;
}

header {
    text-align: center;
    padding: 0 60px 0 60px;
}

a {
    text-decoration: none;
    color: inherit;
}