:host {
  display: block;
}
.eventList {
  list-style: none;
  margin:0;
  padding: 0 30px 0 30px;
}

h1,h2,h3 {
  font-family: 'Catamaran', sans-serif;
}
h2 {
  font-weight: 700;
  color: #1a1a1a;
  font-size: 30pt;
  margin: 0 0 -15px 0;
  display: block;
}
h3 {
  font-weight: 600;
  color: #404040;
  font-size: 20pt;
  margin: -5px 0 -10px;
}

li {
  border-style: solid;
  border-color: #941C2F;
  border-width: 1px 1px 1px 5px;
  border-radius: 5px;

  padding: 0px 10px 10px 30px;
  margin: 20px 20px;
  transition: opacity 1s, border-width 0.5s;

  cursor: pointer;
}
li:hover {
  border-width: 1px 1px 1px 12px;
}

h4 {
  margin: 0;
  display: inline-block;
  font-weight: bold;
  width:100px;
}
p {
  margin: 5px 0 5px 0;
}

.details {
  display: none;
}


.detailButton {
  position: absolute;
  margin: 0 0 0 60px;
  transform: translate(0,-130%);
  transition: background 0.2s ease-in;
  
  cursor: pointer;
  color:#404040;
  font-size: 12pt;
  font-weight:light;
  font-family: 'Open Sans', 'Catamaran', sans-serif;
}

.detailButton:hover {
  color:#1a1a1a;
}


.sortButton {
  position: absolute;
  transform: translate(0,-130%);
  transition: background 0.2s ease-in;
  margin: 0 60px 0 0;
  right:0px;


  cursor: pointer;
  color:#404040;
  font-size: 12pt;
  font-weight:light;
  font-family: 'Open Sans', 'Catamaran', sans-serif;
}
.sortButton:hover {
  color:#1a1a1a;
}