:host {
  display: block;
}
.eventList {
  list-style: none;
}

li {
  border-style: solid;
  border-color: #941C2F;
  border-width: 1px 1px 1px 5px;
  border-radius: 5px;

  padding-left: 30px;
  padding-right: 10px;
  margin: 20px 20px;
}

span {
  font-weight: bold;
}