:host {
  display: block;
  
}

.smlink{
  
  float: left;
  box-sizing: border-box;
  margin: 10px
}
img{
  width: 50px;
  height: 50 px;
}

.smlink:hover{
  opacity: 50%;
}

/*
:host>button {
  width: 40px;
  height: 40px;
  border:none;
  background-color: white;
}

:host>button>img{
  width: 40px;
  position: center;
}