:host {
  display: inline-block;
}

.flipcardContainer {
  width: clamp(100px, 20vw, 400px);
  aspect-ratio: 4/5;
  perspective: 500px;
  font-size: clamp(10pt, 1.5rem, 26pt);
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 1s;
  transform-style: preserve-3d;
  text-align: center;
  justify-content: center;
}

.content img {
  width: 90%;
  height: auto;
  aspect-ratio: 1;
  margin-top: 25px;
}

.content h2 {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.25em;
  margin: 0.4em 0 0.4em 0;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  backface-visibility: hidden;
}


.back {
  background: #03446A;
  color: white;
  transform: rotateY( 180deg);
  text-align: left;
}

.back h2{
  font-family: 'Catamaran', sans-serif;
  margin-top: 15px;
  margin-left: 20px;
}
.back h3{
  font-family: 'Catamaran', sans-serif;
  font-size: 0.75em;
}
.backInput{
  margin: 1em 1em 0.5em 1em;
}

.backInput p{
  font-family: 'Catamaran', sans-serif;
  font-size: 0.75em;
  text-align: justify;
}

.backInput element{
  cursor: pointer;
}

.flipcard-mouseover .content {
  transform: rotateY(180deg);
  transition: transform 1s;
}