.datePicker{
  width: 270px;
  position: relative;
  margin: 50px;
  margin-left: 350px;
  border:1px solid lightgray;
  border-radius: 30px;
  font-size: 16pt;
}

span{
  font-size: 20pt;
  font-family: 'Catamaran', sans-serif;
  margin-left: 95px;
  font-weight: 750;
}

.monthBoxes{
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 8px;
  cursor: pointer;
  margin: 4px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.monthBoxes:hover{
  background-color: #941C2F;
  color: #fffcf9;
  border-radius: 50%;
}